.ant-menu.ant-menu-root.ant-menu-horizontal {
  border-bottom: none !important;
}

.respon-screen.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.anticon.anticon-close {
  display: none !important;
}

.ant-badge-count.ant-scroll-number {
  transform: translate(-24%, -50%) !important;
}

.navigation_bar {
  width: 100%;
  justify-content: space-between !important;
  align-items: center;
  background-color: rgba($color: #fff, $alpha: 0.95);
  padding: 1rem;
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 22px -18px;

  .nav_btn_gps {
    display: flex;
    justify-content: flex-end;

    .hamburger_menu {
      display: none;
      margin-left: 1rem;
    }
  }
}

.cart_drawer .ant-drawer-body {
  padding: 0;
}

.cart_container {
  .cart_body {
    height: calc(100vh - 104px);
    overflow-y: scroll;

    .cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(223, 223, 223);
      padding-bottom: 1rem;
      margin: 1rem;
      gap: 1rem;

      .cart-btn-gps {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }

      .cart-action {
        .cart-price {
          font-size: 1rem;
        }

        .delete-cart {
          text-decoration: underline;
          color: rgb(255, 56, 56);
          cursor: pointer;
        }
      }
    }
  }

  .cart_footer {
    width: 375px;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    background-color: #fff;
    z-index: 10;
  }
}

@media screen and (max-width: 770px) {
  .navigation_bar {
    .nav_btn_gps {
      .profile_tap,
      .log_out-btn {
        display: none;
      }

      .hamburger_menu {
        display: block;
      }
    }
  }
}
