.card {
  width: 240px !important;
  height: 360px !important;

  .product_img {
    width: 80px !important;
    height: 120px !important;
    display: block;
    margin: auto;
    margin-top: 1rem;
  }
}
